@model WebApplication16.Models.partyList

@{
    ViewBag.Title = "تأكيد الحذف";
}

<div class="container mt-4">
    <h3 class="text-center mb-4">هل أنت متأكد أنك تريد حذف هذا؟</h3>

    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">اسم الحزب</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.partyName)
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <button type="submit" class="btn btn-danger">حذف</button>
                    @Html.ActionLink("رجوع إلى القائمة", "Index", new { area = "" }, new { @class = "btn btn-secondary" })
                </div>
            }
        </div>
    </div>
</div>
